@import 'src/styles/variables';

.container {
  padding: 1rem;

  .gridContainer {
    width: 500px;
    height: 500px;
    margin: 0 auto;

    @include tablet {
      width: 700px;
      height: 700px;
    }

    @include desktop {
      width: 700px;
      height: 700px;
    }
  }
  .taskbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;

    .face {
      cursor: pointer;
      width: 38px;
      height: 38px;
      margin: 0 1rem;
      img {
        width: 100%;
        height: auto;
      }

      @include tablet {
        margin: 0 3rem;
      }

      @include desktop {
        margin: 0 3rem;
      }
    }

    .stats {
      display: flex;
      width: 7rem;
      padding: 0 0.7rem 0 0;
      align-items: center;
      justify-content: center;
      background-color: #111111;
      box-shadow: -5px 0 0 0 #ffffff, 5px 0 0 0 #ffffff, 0 -5px 0 0 #ffffff,
        0 5px 0 0 #ffffff;
      .icon {
        width: 48px;
        height: 48px;

        img {
          width: auto;
          height: 100%;
        }
      }

      .value {
        font-size: 1.5rem;
        margin-top: 0.3rem;

        @include tablet {
          font-size: 2rem;
        }

        @include desktop {
          font-size: 2rem;
        }
      }
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  margin: 3rem auto;

  > span {
    font-size: 1.5rem;
  }
}

h1.win {
  background-color: green;
}

h1.lose {
  background-color: red;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > button {
    margin-bottom: 2rem;
    width: 20rem;
  }
}
