.button {
  padding: 0.6rem 1.5rem;
  color: #ffffff;
  background-color: #111111;
  font-size: 1.5rem;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: -5px 0 0 0 #ffffff, 5px 0 0 0 #ffffff, 0 -5px 0 0 #ffffff,
    0 5px 0 0 #ffffff;
}
