.button {
  padding: 0.6rem 1.5rem;
  color: black;
  background-color: white;
  font-size: 1.5rem;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}
