.modalContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  min-width: 700px;
  min-height: 700px;
  top: 0;
  left: 0;
  backdrop-filter: blur(1rem);
  background-size: cover;
  visibility: unset;
  pointer-events: all;

  &:not(.show) {
    visibility: hidden;
    pointer-events: none;
  }
}
